
<head>
    <title>Jupyter</title>
    <meta charset="utf-8">
    <link href="../base1/cockpit.css" type="text/css" rel="stylesheet">
    <script src="../base1/cockpit.js"></script>
</head>
<body>
    <div class="container-fluid">
        <h2>Jupyter</h2>
        <p>An installable package that runs Jupyter.</p>
    </div>

    <div class="container-fluid">
        <table class="form-table-ct">
            <tr>
                <td><label class="control-label" for="port">Port</label></td>
                <td><input class="form-control" id="port" value="8888"></td>
            </tr>
            <tr>
                <td><button class="btn btn-default btn-primary" id="start">Start</button></td>
                <td><button class="btn btn-default btn-danger" disabled id="stop">Stop</button></td>
            </tr>
        </table>
        <p>
            <pre id="output" style="display: none;">
            </pre>
        </p>
        <p id="failure" class="warning"></p>
    </div>

    <script>
        var channel = null;
        var stop = document.getElementById("stop");
        var start = document.getElementById("start");
        start.onclick = function() {
            var output = document.getElementById("output");
            output.innerHTML = "";
            output.setAttribute("style", "display: block;");

            if (channel)
                channel.close("terminated");

            var failure = document.getElementById("failure");
            failure.innerHTML = "";

            var port = document.getElementById("port");
            var options = {
                "payload": "stream",
                "spawn": [ "jupyter-notebook", "--port="+port.value],
                "err": "out",
            };
            channel = cockpit.channel(options);
            channel.onmessage = function(ev, data) {
                console.log("message", ev, data);
                output.appendChild(document.createTextNode(data));
            };
            channel.onclose = function(ev, options) {
                console.log("close", ev, options);
                if (options.problem)
                    failure.innerHTML = options.problem;
            };
            stop.removeAttribute("disabled");
        };
        stop.onclick = function() {
            stop.setAttribute("disabled", "disabled");
            if (channel)
                channel.close("terminated");
            channel = null;
        };
    </script>
</body>
</html>

